@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// 1. Configuration and helpers
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

// 2. Vendors
@import 'vendors/icomoon/styles';

// 3. Base styles and elements
@import 'base/base';
@import 'base/fonts';
@import 'base/typography';
@import 'base/forms';
