<div style="padding: 10px; color: #ffffff; background-color: #e30000;">
    <span style="position: relative; top: 3px; font-size: 20px;">&#128561;</span> Template block is missing: <code class="code">{{ block.type }}</code>
</div>
