extends /_layout/main
include /_utils/mixins

block variables
  -
    var pageClass = 'index-page'
    var testContent = {
      attr: {
        class: 'test-class',
        'data-test-attr': 'test',
      },
      content: [
        ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, quaerat. Quaerat cumque laborum illum earum quasi totam ad omnis est, aliquam distinctio recusandae, pariatur quos explicabo voluptatem, doloribus a enim!',
        ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, quaerat. Quaerat cumque laborum illum earum quasi totam ad omnis est, aliquam distinctio recusandae, pariatur quos explicabo voluptatem, doloribus a enim!',
      ],
    }

block content
  section
    .container
      h1
        | INDEX PAGE
        | INDEX2 PAGE
        | INDEX3 PAGE

      a(href="/about.html")
        | About page

      +test(testContent)
