<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Project Title</title>
  </head>
  <body class="body">
    <div class="wrapper">
      <header class="header">
        header
      </header>
      <div class="page-holder">
        <main class="main">
          <h1>About page</h1>
          <img src="images/test.jpg" alt="" />
          <img src="images/test.png" alt="" />
          <img src="images/test.svg" alt="" />
          <a href="index.html">Home page</a>
        </main>
      </div>
      <footer class="footer">
        footer
      </footer>
    </div>
  </body>
</html>
