<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Project title</title>
  </head>
  <body class="body">
    <div class="wrapper">
      <header class="header">
        header
      </header>
      <div class="page-holder">
        <main class="main">
          <h1>Home page</h1>
          <p><a href="about.html">About page</a></p>
          <img src="/images/test.jpg" alt="" />
          <img src="/images/test.png" alt="" />
          <img src="/images/test.svg" alt="" />
          <i class="icon-chevron-left"></i>
          <i class="icon-chevron-up"></i>
          <i class="icon-chevron-right"></i>
          <i class="icon-chevron-down"></i>
          <!-- <i class="icon-chevron-cross"></i> -->
        </main>
      </div>
      <footer class="footer">
        footer
      </footer>
    </div>
  </body>
</html>
